<div class="container" id="app">
  <br />
  <a href="https://redux.js.org/" target="_blank"><img src="https://blobscdn.gitbook.com/v0/b/gitbook-28427.appspot.com/o/spaces%2F-L5K1I1WsuQMZ8ecEuWg%2Favatar.png?generation=1518623866348435&alt=media"
      width="50" /></a>
  <hr>
  <div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Todos App</h3>
        <h6 class="card-subtitle mb-2 text-muted">Using Angular & Redux</h6>
        <app-todo-overview></app-todo-overview>
        <app-todo-list></app-todo-list>
      </div>
    </div>
  </div>
</div>
